body,
html,
p,
div,
button,
a {
    font-family: "Inter", sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-text,
.card-title {
    color: #111
}

body {
    background-color: #000;
    background-image: linear-gradient(315deg, rgba(72, 84, 97, 1), rgba(0, 0, 0, 0.8)), url(./backdrop.jpg);
    background-size: cover, cover;
    background-position: bottom right, bottom right;
    min-height: 100vh;
    height: 100%;
}


.th-white,
.td-white {
    color: #FFF
}