/* how to use fonts
font-family: 'Encode Sans', sans-serif; ALL CAPS, for headers
font-family: 'Open Sans', sans-serif; Normal or bold, for body text
font-family: 'UniSansBook', Arial, sans-serif; ALL CAPS
*/

body,
html,
p,
div,
button,
a {
    font-family: "Open Sans", sans-serif;
}

body,
p,
h3,
h4,
h5 {
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Encode Sans', sans-serif;
    text-transform: uppercase;
    font-size: 5em;
}

h2 {
    font-family: 'UniSansBook', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

h1, h2 {
    padding-top: 25px;
    padding-bottom: 10px;
}

.card-text,
.card-title {
    color: #111
}

body {
    background-color: #4b2e83;
}


.th-white,
.td-white {
    color: #FFF
}